*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: "Poppins", serif;
}
#navbar{
    background-color: rgb(236, 89, 89);
    padding: 20px;
    font-size: 40px;
}
#n-book{
    padding: 10px;
    
}
#def-book{
    width: 20%;
    height: 30%;
    padding: 20px;
    margin: 20px;
    background: rgb(236, 89, 89);
    border-radius: 15px;
    display: inline-block;
    vertical-align: top;
}
#def-book button{
    padding: 5px;
    background-color: black;
    color: rgb(236, 89, 89);
    border-radius: 10px;
    margin-top: 10px;
}
#pop{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    width: 35%;
    height: 45%;
    background-color: rgb(236, 89, 89);
    padding: 30px;
    border-radius: 20px;
    position: absolute;
    left: 35%;
    top: 35%;
    position: fixed;
    gap: 10px;

}
#pop #title{
    background: transparent ;
    border-color: black;
    border-bottom: 2px;
    border-style: solid;
    margin: 10px;
    width: 90%;
}
#pop #author{
    background-color:transparent ;
    border-color: black;
    border-bottom: 2px;
    border-style: solid;
    margin: 10px;
    width: 90%;
}
#pop #desc{
    background-color:rgb(236, 89, 89) ;
    border-color: black;
    border-bottom: 2px;
    border-style: solid;
    min-height: 80px;
    max-width: 90%;
    margin: 10px;
    width: 90%;
}
#pop input::placeholder{
    color: black;
}
#pop textarea::placeholder{
    color: black;
}
#pop input:focus{
    outline: none;
}
#pop textarea:focus{
    outline: none;
}
#popbtn{
    background-color: rgb(236, 89, 89);
    color: black;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100%;
    position: absolute;
    bottom: 50px;
    right: 50px;
    position: fixed;
    font-size: 30px;
}
.btns{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin: 20px;
}
#pop #add{
    background-color: rgb(0, 0, 0);
    color: rgb(236, 89, 89);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    width: 20%;
}
#pop #can{
    background-color: rgb(0, 0, 0);
    color: rgb(236, 89, 89);
    position: relative;
    right: 40px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#overlay{
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.8;
    display: none;
}